{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "xz5mqc56supyq"
  },
  "info": {
    "title": "QuranReflect",
    "description": "QuranReflect api documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://quranreflect.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/users/sign_in": {
      "post": {
        "summary": "Sign in",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/signin-respnse"
          },
          "403": {
            "description": "Forbidden, api key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "message": "You don't have permission!"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "message": "You don't have permission!"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity, data is invalid or missing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "errors": [
                        "Invalid login credentials. Please try again."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "Invalid login credentials. Please try again."
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "errors": [
                        "Invalid login credentials. Please try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Sign in user using username/email and password.",
        "operationId": "user-signin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "email": "amer.abbas@mailinator.com",
                    "password": "123456",
                    "client_auth_token": "YD2awPFAZIACstyc54TsfOLuRt4wkapZ"
                  }
                },
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "client_auth_token": {
                    "type": "string",
                    "description": "API key"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "email": "amer.abbas@mailinator.com",
                    "password": "123456",
                    "client_auth_token": "YD2awPFAZIACstyc54TsfOLuRt4wkapZ"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users": {
      "post": {
        "summary": "Sign Up",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "client_auth_token",
            "description": "api key"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/signup-response"
          },
          "422": {
            "description": "Unprocessable Entity, data is missing or invalid.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "error",
                  "data": {
                    "id": null,
                    "email": "jannah01323123@mailinator.com",
                    "name": "jannah01123233",
                    "created_at": null,
                    "updated_at": null,
                    "username": "jannah032312334",
                    "verified": false,
                    "user_type": null,
                    "avatar_file_name": null,
                    "avatar_content_type": null,
                    "avatar_file_size": null,
                    "avatar_updated_at": null,
                    "follow_notification": false,
                    "comments_notification": true,
                    "description": null,
                    "default_lang": "en",
                    "uid": "",
                    "provider": "email"
                  },
                  "errors": [
                    "Password confirmation doesn't match Password"
                  ]
                }
              }
            }
          }
        },
        "description": "Create user account ",
        "operationId": "user-signup",
        "tags": [
          "Users"
        ]
      },
      "put": {
        "summary": "Update User Profile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "ZfynOnwrKNqRp8REA_zXQQ"
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "53hYzvekDQrz4Gsh0QBZSg"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "integer"
            },
            "example": 1531215109
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer"
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "amer.abbas@mailinator.com"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"e4b0f78b2ce199ed697007e5f97efe6c\""
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "772d1452-3861-4f8a-91d1-7872fc309a49"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "access-token": {
                "schema": {
                  "type": "string",
                  "example": "ZfynOnwrKNqRp8REA_zXQQ"
                }
              },
              "client": {
                "schema": {
                  "type": "string",
                  "example": "53hYzvekDQrz4Gsh0QBZSg"
                }
              },
              "expiry": {
                "schema": {
                  "type": "integer",
                  "example": 1531215109
                }
              },
              "token-type": {
                "schema": {
                  "type": "string",
                  "example": "Bearer"
                }
              },
              "uid": {
                "schema": {
                  "type": "string",
                  "example": "amer.abbas@mailinator.com"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "id": 4,
                    "name": "Amer Abbas",
                    "description": "test description",
                    "default_lang": "ar",
                    "follow_notification": true,
                    "comments_notification": true,
                    "email": "amer.abbas@mailinator.com",
                    "provider": "email",
                    "username": "amerabbas",
                    "uid": "amer.abbas@mailinator.com",
                    "verified": false,
                    "user_type": "student",
                    "is_admin?": true,
                    "user_avatar_url": "//qreflect-bucket.s3.amazonaws.com/events/banner/en/avatars/4/original.?1524576806"
                  },
                  "message": "Your profile has been updated successfully."
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "6c566cf0-1fe7-4574-8eb6-e1ef6c6ca6d4"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "error",
                  "errors": [
                    "Password confirmation doesn't match Password"
                  ]
                }
              }
            }
          }
        },
        "description": "Update user profile and personal information",
        "operationId": "user-update",
        "tags": [
          "Users"
        ]
      },
      "get": {
        "summary": "Search users",
        "responses": {
          "200": {
            "$ref": "#/components/responses/search-user-response"
          },
          "422": {
            "$ref": "#/components/responses/signup-error-response"
          }
        },
        "operationId": "get-users-list",
        "tags": [
          "Users"
        ],
        "description": "Get users lists, users can be searched using `username` or `email`",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "username",
            "description": "search using username"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "email",
            "description": "search using email, "
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "client_auth_token",
            "description": "api key"
          }
        ]
      }
    },
    "/v1/users/password": {
      "post": {
        "summary": "Generate password email",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "email": "jannah888@mailinator.com"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "email": "string"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "message": "If your email address exists in our database, you will receive a password recovery link at your email address in a few minutes."
                    }
                  }
                },
                "examples": {
                  "Successful": {
                    "value": {
                      "success": true,
                      "message": "If your email address exists in our database, you will receive a password recovery link at your email address in a few minutes."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Reset user password, user will get an email with a link to page where they can update the password.",
        "operationId": "user-resetpassword"
      }
    },
    "/users/confirmation": {
      "post": {
        "summary": "Generate account confirmation Link",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "user": {
                      "email": "jannah0112@mailinator.com"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "user": {
                      "email": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "etag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"095f1561b0db0f13b0da6371f997b56e\""
                }
              },
              "transfer-encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "x-frame-options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "4b958400-6eca-4f74-9895-bbcf179b8231"
                }
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "message": "Confirmation Link sent successfully"
                    }
                  }
                },
                "examples": {
                  "succssful": {
                    "summary": "User create confirmation Link (success true)",
                    "value": {
                      "success": true,
                      "message": "Confirmation Link sent successfully"
                    }
                  },
                  "already-confirmed": {
                    "summary": "User create confirmation Link (success false)",
                    "value": {
                      "success": false,
                      "message": "Email was already confirmed, please try signing in"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Send a new account confirmation email to user.",
        "operationId": "generate-confirm-account-email"
      }
    },
    "/v1/users/sign_out": {
      "delete": {
        "summary": "Sign out",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1cMM7EmYQs4Y3UG1jf5enw"
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "B-OWd8tpD01bAtMQtCE9Zw"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531312879"
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer"
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "amer.abbas@mailinator.com"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "etag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"c955e57777ec0d73639dca6748560d00\""
                }
              },
              "transfer-encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "x-frame-options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "14519776-a59d-4883-9a29-541b1e315591"
                }
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "transfer-encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "x-frame-options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "8a94746c-f61d-477e-ae9e-6638cd4a2d34"
                }
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    "User was not found or was not logged in."
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Log out and remove user session",
        "operationId": "user-logout"
      }
    },
    "/v1/posts": {
      "post": {
        "summary": "Create post",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": " -emKYjldjKDOL_KMJA9dJQ",
            "required": true
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": " Bearer",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": " R7rHXYd6QUofg3cx3X_PLw",
            "required": true
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": " 1586092545",
            "description": "author's access token expiry timestamp",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": " amer.abbas@mailinator.com",
            "description": "author's uid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-post-response"
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "post-create",
        "description": "Create reflection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string"
                      },
                      "draft": {
                        "type": "string"
                      },
                      "tag_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "filters_attributes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "chapter_id": {
                              "type": "string"
                            },
                            "from": {
                              "type": "string"
                            },
                            "to": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "post": {
                      "body": "test test",
                      "draft": "0",
                      "tag_ids": [
                        "",
                        "5"
                      ],
                      "filters_attributes": [
                        {
                          "chapter_id": "4",
                          "from": "",
                          "to": ""
                        },
                        {
                          "chapter_id": "3",
                          "from": "1",
                          "to": "1"
                        },
                        {
                          "chapter_id": "6",
                          "from": "8",
                          "to": "11"
                        }
                      ]
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "post": {
                      "body": "I love #Quran",
                      "draft": "0",
                      "tag_ids": [
                        "5"
                      ],
                      "filters_attributes": [
                        {
                          "chapter_id": "4",
                          "from": "",
                          "to": ""
                        },
                        {
                          "chapter_id": "3",
                          "from": "1",
                          "to": "1"
                        },
                        {
                          "chapter_id": "6",
                          "from": "8",
                          "to": "11"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get posts",
        "description": "<p>(tabs options are: most_popular, following, newest, favorite, draft) \n(language options [en, es, ar])\n(verified users: verified=true)\n(scholar users: scholar=true)\n(student users: student=true)</p>\n",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "_GuLneikkY9bthNdFE391w"
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "wK9V1wZwug9eTHpuTEfBPw"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531315250"
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer"
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "qr_test_1@mailinator.com"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "client_auth_token",
            "description": "api key",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"1f31bfbc11dfdbd014eff2b134c1d078\""
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "a750a9fd-0850-4f23-bd0d-e540ce28e2d3"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Get posts API not member in group",
                    "value": {
                      "success": false,
                      "message": "You are not member of this group!"
                    }
                  },
                  "example-1": {
                    "summary": "Get posts API (tab newest in specific group)",
                    "value": {
                      "posts": [
                        {
                          "id": 509,
                          "body": "test group test-mego-123",
                          "author_id": 13,
                          "discussion_id": null,
                          "draft": false,
                          "created_at": "2018-06-27T17:46:08.000Z",
                          "updated_at": "2018-06-27T17:47:09.000Z",
                          "likes": 0,
                          "published_at": "2018-06-27T17:46:08.000Z",
                          "room_id": 11,
                          "global": false,
                          "language": "ENGLISH",
                          "toxicity_score": -1,
                          "reported": false,
                          "views": 2,
                          "author": {
                            "id": 13,
                            "email": "qr_test_1@mailinator.com",
                            "name": "ahmed",
                            "created_at": "2018-02-25T12:28:11.000Z",
                            "updated_at": "2018-06-27T17:50:54.000Z",
                            "username": "qr_test_1",
                            "verified": false,
                            "user_type": "student",
                            "avatar_file_name": null,
                            "avatar_content_type": null,
                            "avatar_file_size": null,
                            "avatar_updated_at": null,
                            "follow_notification": true,
                            "comments_notification": true,
                            "description": null,
                            "default_lang": "en",
                            "uid": "qr_test_1@mailinator.com",
                            "provider": "email"
                          },
                          "tags": [
                            {
                              "id": 9,
                              "name": "Objectives of Shariah",
                              "created_at": "2016-12-26T12:07:02.000Z",
                              "updated_at": "2016-12-26T12:07:02.000Z",
                              "rank": 0
                            }
                          ],
                          "filters": [
                            {
                              "id": 389,
                              "discussion_id": null,
                              "topic_id": null,
                              "book_id": null,
                              "chapter_id": 3,
                              "from": 1,
                              "to": 9,
                              "created_at": "2018-06-27T17:46:07.000Z",
                              "updated_at": "2018-06-27T17:46:07.000Z",
                              "indicator_text": "surah-2-1:9"
                            }
                          ]
                        }
                      ],
                      "pages": 1
                    }
                  },
                  "example-2": {
                    "summary": "HomePage Posts Api",
                    "value": {
                      "posts": {
                        "posts": [
                          {
                            "id": 8,
                            "body": "<div>The most interesting thing about this verse is that it's not only telling us to use our talents for a higher purpose, but it's also telling &nbsp;us that we can make money and a worldly benefit in the process.</div>",
                            "likes": 9,
                            "draft": false,
                            "published_at": "December 28, 2016 06:27",
                            "room_id": null,
                            "global": true,
                            "editable": false,
                            "deletable": false,
                            "reportable": null,
                            "citation_texts": {
                              "0": [
                                {
                                  "id": 22037,
                                  "citation_id": 29,
                                  "number": 77,
                                  "text": "But seek, through that which Allah has given you, the home of the Hereafter; and [yet], do not forget your share of the world. And do good as Allah has done good to you. And desire not corruption in the land. Indeed, Allah does not like corrupters.\"",
                                  "translation_id": 5
                                }
                              ]
                            },
                            "language": "ENGLISH",
                            "detected_translation": 5,
                            "views": 439,
                            "group": null,
                            "group_link": null,
                            "comments": [
                              {
                                "id": 127,
                                "body": "",
                                "is_private": false,
                                "created_at": "2018-08-07T09:40:38.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 11,
                                  "username": "amerabbas",
                                  "name": "Amer Abbas",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/011/original/data?1533416312",
                                  "followed": false
                                }
                              },
                              {
                                "id": 126,
                                "body": "a",
                                "is_private": false,
                                "created_at": "2018-08-07T09:40:28.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 11,
                                  "username": "amerabbas",
                                  "name": "Amer Abbas",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/011/original/data?1533416312",
                                  "followed": false
                                }
                              },
                              {
                                "id": 119,
                                "body": "asdadas asd as",
                                "is_private": false,
                                "created_at": "2018-08-05T13:16:51.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 128,
                                  "username": "Shehab_ElHariry",
                                  "name": "Shehab ElHariry",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/128/original/data?1531299792",
                                  "followed": false
                                }
                              },
                              {
                                "id": 116,
                                "body": "1533435814498 - comment",
                                "is_private": false,
                                "created_at": "2018-08-05T02:23:37.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 132,
                                  "username": "robocop018_badrit",
                                  "name": "robocop018 badrit",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/132/original/data?1531641665",
                                  "followed": false
                                }
                              },
                              {
                                "id": 115,
                                "body": "1533431804017 - comment",
                                "is_private": false,
                                "created_at": "2018-08-05T01:16:46.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 132,
                                  "username": "robocop018_badrit",
                                  "name": "robocop018 badrit",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/132/original/data?1531641665",
                                  "followed": false
                                }
                              },
                              {
                                "id": 114,
                                "body": "1533431370324 - comment",
                                "is_private": false,
                                "created_at": "2018-08-05T01:09:33.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 132,
                                  "username": "robocop018_badrit",
                                  "name": "robocop018 badrit",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/132/original/data?1531641665",
                                  "followed": false
                                }
                              },
                              {
                                "id": 113,
                                "body": "1533431056635 - comment",
                                "is_private": false,
                                "created_at": "2018-08-05T01:04:19.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 132,
                                  "username": "robocop018_badrit",
                                  "name": "robocop018 badrit",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/132/original/data?1531641665",
                                  "followed": false
                                }
                              },
                              {
                                "id": 103,
                                "body": "test comment <a href='/users/ahmedam12'>@ahmedam12</a> ",
                                "is_private": false,
                                "created_at": "2018-07-25T10:44:55.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 11,
                                  "username": "amerabbas",
                                  "name": "Amer Abbas",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/011/original/data?1533416312",
                                  "followed": false
                                }
                              },
                              {
                                "id": 102,
                                "body": "1531750883875 - comment",
                                "is_private": false,
                                "created_at": "2018-07-16T14:21:26.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 132,
                                  "username": "robocop018_badrit",
                                  "name": "robocop018 badrit",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/132/original/data?1531641665",
                                  "followed": false
                                }
                              },
                              {
                                "id": 101,
                                "body": "1531743066903 - comment",
                                "is_private": false,
                                "created_at": "2018-07-16T12:11:10.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 132,
                                  "username": "robocop018_badrit",
                                  "name": "robocop018 badrit",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/132/original/data?1531641665",
                                  "followed": false
                                }
                              },
                              {
                                "id": 100,
                                "body": "1531722184361 - comment",
                                "is_private": false,
                                "created_at": "2018-07-16T06:23:07.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 132,
                                  "username": "robocop018_badrit",
                                  "name": "robocop018 badrit",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/132/original/data?1531641665",
                                  "followed": false
                                }
                              },
                              {
                                "id": 99,
                                "body": "1531722136129 - comment",
                                "is_private": false,
                                "created_at": "2018-07-16T06:22:19.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 132,
                                  "username": "robocop018_badrit",
                                  "name": "robocop018 badrit",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/132/original/data?1531641665",
                                  "followed": false
                                }
                              },
                              {
                                "id": 98,
                                "body": "1531720834",
                                "is_private": false,
                                "created_at": "2018-07-16T06:00:47.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 96,
                                  "username": "a7nd",
                                  "name": "mohamed alaa badr el den",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/096/original/data?1531314749",
                                  "followed": false
                                }
                              },
                              {
                                "id": 97,
                                "body": "وَٱبْتَغِ فِيمَآ ءَاتَىٰكَ ٱللَّهُ ٱلدَّارَ ٱلْءَاخِرَةَ وَلَا تَنسَ نَصِيبَكَ مِنَ ٱلدُّنْيَا وَأَحْسِن كَمَآ أَحْسَنَ ٱللَّهُ إِلَيْكَ وَلَا تَبْغِ ٱلْفَسَادَ فِى ٱلْأَرْضِ إِنَّ ٱللَّهَ لَا يُحِبُّ ٱلْمُفْسِدِينَ",
                                "is_private": false,
                                "created_at": "2018-07-16T05:57:47.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 96,
                                  "username": "a7nd",
                                  "name": "mohamed alaa badr el den",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/096/original/data?1531314749",
                                  "followed": false
                                }
                              },
                              {
                                "id": 91,
                                "body": "ss",
                                "is_private": false,
                                "created_at": "2018-07-11T12:17:54.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 96,
                                  "username": "a7nd",
                                  "name": "mohamed alaa badr el den",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/096/original/data?1531314749",
                                  "followed": false
                                }
                              },
                              {
                                "id": 66,
                                "body": "test\ntest\ntest\nالحمد لله\nالحمد لله",
                                "is_private": false,
                                "created_at": "2018-06-04T04:57:56.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 11,
                                  "username": "amerabbas",
                                  "name": "Amer Abbas",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/011/original/data?1533416312",
                                  "followed": false
                                }
                              },
                              {
                                "id": 63,
                                "body": "الحمد لله\nالحمد لله\n",
                                "is_private": false,
                                "created_at": "2018-05-29T13:13:56.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 11,
                                  "username": "amerabbas",
                                  "name": "Amer Abbas",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/011/original/data?1533416312",
                                  "followed": false
                                }
                              },
                              {
                                "id": 62,
                                "body": "الحمد لله الحمد لله\nThe most interesting thing about this verse",
                                "is_private": false,
                                "created_at": "2018-05-29T13:13:43.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 11,
                                  "username": "amerabbas",
                                  "name": "Amer Abbas",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/011/original/data?1533416312",
                                  "followed": false
                                }
                              },
                              {
                                "id": 51,
                                "body": "So you think we should turn this project from non-profit to profitable company :)",
                                "is_private": false,
                                "created_at": "2018-02-04T03:02:36.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 15,
                                  "username": "muneebarrabi",
                                  "name": "Muneeb",
                                  "verified": false,
                                  "profile_img": null,
                                  "followed": false
                                }
                              }
                            ],
                            "trimmed_citation_texts": {
                              "0": [
                                {
                                  "id": 22037,
                                  "citation_id": 29,
                                  "number": 77,
                                  "text": "But seek, through that which Allah has given you, the home of the Hereafter; and [yet], do not forget your share of the world. And do good as Allah has done good to you. And desire not corruption in the land. Indeed, Allah does not like corrupters.\"",
                                  "translation_id": 5
                                }
                              ]
                            },
                            "author": {
                              "id": 12,
                              "username": "hizzeldin",
                              "name": "Hisham Izzeldin ",
                              "verified": false,
                              "profile_img": null,
                              "followed": false
                            },
                            "filters": [
                              {
                                "id": 211,
                                "from": 77,
                                "to": 77,
                                "indicator_text": null
                              }
                            ],
                            "tags": [
                              {
                                "id": 10,
                                "name": "Personal Development"
                              }
                            ]
                          },
                          {
                            "id": 40,
                            "body": "<div>&nbsp;This ayah is so powerful in describing the process of repentance by starting with a commanding verb 'flee' suggesting to run away and escape from danger, 'to Allah' SW.&nbsp;<br>Fleeing is a process that starts with an alert and acknowledging the danger followed by the action of running and escaping until reaching safety.&nbsp;</div>",
                            "likes": 5,
                            "draft": false,
                            "published_at": "April 15, 2017 20:12",
                            "room_id": null,
                            "global": true,
                            "editable": false,
                            "deletable": false,
                            "reportable": null,
                            "citation_texts": {
                              "0": [
                                {
                                  "id": 23433,
                                  "citation_id": 52,
                                  "number": 50,
                                  "text": "So flee to Allah. Indeed, I am to you from Him a clear warner.",
                                  "translation_id": 5
                                }
                              ]
                            },
                            "language": "ENGLISH",
                            "detected_translation": 5,
                            "views": 76,
                            "group": null,
                            "group_link": null,
                            "comments": [
                              {
                                "id": 60,
                                "body": "how are you ?",
                                "is_private": false,
                                "created_at": "2018-05-08T12:39:48.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 11,
                                  "username": "amerabbas",
                                  "name": "Amer Abbas",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/011/original/data?1533416312",
                                  "followed": false
                                }
                              },
                              {
                                "id": 52,
                                "body": "So we are in danger, and our only shelter and protection is with Allah! ",
                                "is_private": false,
                                "created_at": "2018-02-25T03:25:07.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 62,
                                  "username": "abdelminem",
                                  "name": "Abdelminem Mustafa",
                                  "verified": false,
                                  "profile_img": null,
                                  "followed": false
                                }
                              }
                            ],
                            "trimmed_citation_texts": {
                              "0": [
                                {
                                  "id": 23433,
                                  "citation_id": 52,
                                  "number": 50,
                                  "text": "So flee to Allah. Indeed, I am to you from Him a clear warner.",
                                  "translation_id": 5
                                }
                              ]
                            },
                            "author": {
                              "id": 28,
                              "username": "abdelrahman",
                              "name": "Abdelrahman",
                              "verified": false,
                              "profile_img": null,
                              "followed": false
                            },
                            "filters": [
                              {
                                "id": 242,
                                "from": 50,
                                "to": 50,
                                "indicator_text": null
                              }
                            ],
                            "tags": []
                          },
                          {
                            "id": 277,
                            "body": "Focus less on quantity, more on quality: I committed myself to reciting a minimum of one page, but whenever I feel like more I’ll do more. I won’t repeat my mistake of setting a minimum of one juz’ per night from the start.\r\nDouble up: I read my wird in the morning and then recite the same verses while praying qiyam. Somehow, repeating the same verses twice a day helped me reflect and ponder on them better.\r\nDraw stars: Here is where the pencil magic kicks in! I drew asterisks in the margins of my mus’haf to mark the verses that touched me, whether I applied them to my own life or simply enjoyed their meaning or figurative language. The next time I read those verses, their effect on me was much deeper and reflecting on them (or sometimes just being fascinated by them) was much easier! Furthermore, whenever I reached the same page again, I would add more stars. So the page that started with having one star ended up with three or four; the verses that move my heart have now doubled at least, Alhamdulillah!\r\nLook for themes and patterns: Sometimes a certain surah mentions a lot of blessings, for example, or one of Allah’s Most Beautiful Names or attributes are repeated many times. I believe this is done to draw our attention to a certain theme so that we will read all the verses in the context of that theme. Sometimes I find themes for the whole surah and sometimes for a page or a group of verses. Whatever it is, I note it down (blessings, Ash-Shakur, etc) in one or two words in the upper margin of the page.",
                            "likes": 2,
                            "draft": false,
                            "published_at": "May 30, 2018 13:17",
                            "room_id": null,
                            "global": true,
                            "editable": false,
                            "deletable": false,
                            "reportable": null,
                            "citation_texts": {
                              "0": [
                                {
                                  "id": 18716,
                                  "citation_id": 3,
                                  "number": 1,
                                  "text": "Alif, Lam, Meem.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18717,
                                  "citation_id": 3,
                                  "number": 2,
                                  "text": "This is the Book about which there is no doubt, a guidance for those conscious of Allah -",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18718,
                                  "citation_id": 3,
                                  "number": 3,
                                  "text": "Who believe in the unseen, establish prayer, and spend out of what We have provided for them,",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18719,
                                  "citation_id": 3,
                                  "number": 4,
                                  "text": "And who believe in what has been revealed to you, [O Muhammad], and what was revealed before you, and of the Hereafter they are certain [in faith].",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18720,
                                  "citation_id": 3,
                                  "number": 5,
                                  "text": "Those are upon [right] guidance from their Lord, and it is those who are the successful.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18721,
                                  "citation_id": 3,
                                  "number": 6,
                                  "text": "Indeed, those who disbelieve - it is all the same for them whether you warn them or do not warn them - they will not believe.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18722,
                                  "citation_id": 3,
                                  "number": 7,
                                  "text": "Allah has set a seal upon their hearts and upon their hearing, and over their vision is a veil. And for them is a great punishment.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18723,
                                  "citation_id": 3,
                                  "number": 8,
                                  "text": "And of the people are some who say, \"We believe in Allah and the Last Day,\" but they are not believers.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18724,
                                  "citation_id": 3,
                                  "number": 9,
                                  "text": "They [think to] deceive Allah and those who believe, but they deceive not except themselves and perceive [it] not.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18725,
                                  "citation_id": 3,
                                  "number": 10,
                                  "text": "In their hearts is disease, so Allah has increased their disease; and for them is a painful punishment because they [habitually] used to lie.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18726,
                                  "citation_id": 3,
                                  "number": 11,
                                  "text": "And when it is said to them, \"Do not cause corruption on the earth,\" they say, \"We are but reformers.\"",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18727,
                                  "citation_id": 3,
                                  "number": 12,
                                  "text": "Unquestionably, it is they who are the corrupters, but they perceive [it] not.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18728,
                                  "citation_id": 3,
                                  "number": 13,
                                  "text": "And when it is said to them, \"Believe as the people have believed,\" they say, \"Should we believe as the foolish have believed?\" Unquestionably, it is they who are the foolish, but they know [it] not.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18729,
                                  "citation_id": 3,
                                  "number": 14,
                                  "text": "And when they meet those who believe, they say, \"We believe\"; but when they are alone with their evil ones, they say, \"Indeed, we are with you; we were only mockers.\"",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18730,
                                  "citation_id": 3,
                                  "number": 15,
                                  "text": "[But] Allah mocks them and prolongs them in their transgression [while] they wander blindly.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18731,
                                  "citation_id": 3,
                                  "number": 16,
                                  "text": "Those are the ones who have purchased error [in exchange] for guidance, so their transaction has brought no profit, nor were they guided.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18732,
                                  "citation_id": 3,
                                  "number": 17,
                                  "text": "Their example is that of one who kindled a fire, but when it illuminated what was around him, Allah took away their light and left them in darkness [so] they could not see.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18733,
                                  "citation_id": 3,
                                  "number": 18,
                                  "text": "Deaf, dumb and blind - so they will not return [to the right path].",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18734,
                                  "citation_id": 3,
                                  "number": 19,
                                  "text": "Or [it is] like a rainstorm from the sky within which is darkness, thunder and lightning. They put their fingers in their ears against the thunderclaps in dread of death. But Allah is encompassing of the disbelievers.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 18735,
                                  "citation_id": 3,
                                  "number": 20,
                                  "text": "The lightning almost snatches away their sight. Every time it lights [the way] for them, they walk therein; but when darkness comes over them, they stand [still]. And if Allah had willed, He could have taken away their hearing and their sight. Indeed, Allah is over all things competent.",
                                  "translation_id": 5
                                }
                              ],
                              "1": [
                                {
                                  "id": 19002,
                                  "citation_id": 4,
                                  "number": 1,
                                  "text": "Alif, Lam, Meem.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19003,
                                  "citation_id": 4,
                                  "number": 2,
                                  "text": "Allah - there is no deity except Him, the Ever-Living, the Sustainer of existence.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19004,
                                  "citation_id": 4,
                                  "number": 3,
                                  "text": "He has sent down upon you, [O Muhammad], the Book in truth, confirming what was before it. And He revealed the Torah and the Gospel.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19005,
                                  "citation_id": 4,
                                  "number": 4,
                                  "text": "Before, as guidance for the people. And He revealed the Qur'an. Indeed, those who disbelieve in the verses of Allah will have a severe punishment, and Allah is exalted in Might, the Owner of Retribution.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19006,
                                  "citation_id": 4,
                                  "number": 5,
                                  "text": "Indeed, from Allah nothing is hidden in the earth nor in the heaven.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19007,
                                  "citation_id": 4,
                                  "number": 6,
                                  "text": "It is He who forms you in the wombs however He wills. There is no deity except Him, the Exalted in Might, the Wise.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19008,
                                  "citation_id": 4,
                                  "number": 7,
                                  "text": "It is He who has sent down to you, [O Muhammad], the Book; in it are verses [that are] precise - they are the foundation of the Book - and others unspecific. As for those in whose hearts is deviation [from truth], they will follow that of it which is unspecific, seeking discord and seeking an interpretation [suitable to them]. And no one knows its [true] interpretation except Allah. But those firm in knowledge say, \"We believe in it. All [of it] is from our Lord.\" And no one will be reminded except those of understanding.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19009,
                                  "citation_id": 4,
                                  "number": 8,
                                  "text": "[Who say], \"Our Lord, let not our hearts deviate after You have guided us and grant us from Yourself mercy. Indeed, You are the Bestower.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19010,
                                  "citation_id": 4,
                                  "number": 9,
                                  "text": "Our Lord, surely You will gather the people for a Day about which there is no doubt. Indeed, Allah does not fail in His promise.\"",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19011,
                                  "citation_id": 4,
                                  "number": 10,
                                  "text": "Indeed, those who disbelieve - never will their wealth or their children avail them against Allah at all. And it is they who are fuel for the Fire.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19012,
                                  "citation_id": 4,
                                  "number": 11,
                                  "text": "[Theirs is] like the custom of the people of Pharaoh and those before them. They denied Our signs, so Allah seized them for their sins. And Allah is severe in penalty.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19013,
                                  "citation_id": 4,
                                  "number": 12,
                                  "text": "Say to those who disbelieve, \"You will be overcome and gathered together to Hell, and wretched is the resting place.\"",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19014,
                                  "citation_id": 4,
                                  "number": 13,
                                  "text": "Already there has been for you a sign in the two armies which met - one fighting in the cause of Allah and another of disbelievers. They saw them [to be] twice their [own] number by [their] eyesight. But Allah supports with His victory whom He wills. Indeed in that is a lesson for those of vision.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19015,
                                  "citation_id": 4,
                                  "number": 14,
                                  "text": "Beautified for people is the love of that which they desire - of women and sons, heaped-up sums of gold and silver, fine branded horses, and cattle and tilled land. That is the enjoyment of worldly life, but Allah has with Him the best return.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19016,
                                  "citation_id": 4,
                                  "number": 15,
                                  "text": "Say, \"Shall I inform you of [something] better than that? For those who fear Allah will be gardens in the presence of their Lord beneath which rivers flow, wherein they abide eternally, and purified spouses and approval from Allah. And Allah is Seeing of [His] servants -",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19017,
                                  "citation_id": 4,
                                  "number": 16,
                                  "text": "Those who say, \"Our Lord, indeed we have believed, so forgive us our sins and protect us from the punishment of the Fire,\"",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19018,
                                  "citation_id": 4,
                                  "number": 17,
                                  "text": "The patient, the true, the obedient, those who spend [in the way of Allah], and those who seek forgiveness before dawn.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19019,
                                  "citation_id": 4,
                                  "number": 18,
                                  "text": "Allah witnesses that there is no deity except Him, and [so do] the angels and those of knowledge - [that He is] maintaining [creation] in justice. There is no deity except Him, the Exalted in Might, the Wise.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19020,
                                  "citation_id": 4,
                                  "number": 19,
                                  "text": "Indeed, the religion in the sight of Allah is Islam. And those who were given the Scripture did not differ except after knowledge had come to them - out of jealous animosity between themselves. And whoever disbelieves in the verses of Allah, then indeed, Allah is swift in [taking] account.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19021,
                                  "citation_id": 4,
                                  "number": 20,
                                  "text": "So if they argue with you, say, \"I have submitted myself to Allah [in Islam], and [so have] those who follow me.\" And say to those who were given the Scripture and [to] the unlearned, \"Have you submitted yourselves?\" And if they submit [in Islam], they are rightly guided; but if they turn away - then upon you is only the [duty of] notification. And Allah is Seeing of [His] servants.",
                                  "translation_id": 5
                                }
                              ],
                              "2": [
                                {
                                  "id": 19202,
                                  "citation_id": 5,
                                  "number": 1,
                                  "text": "O mankind, fear your Lord, who created you from one soul and created from it its mate and dispersed from both of them many men and women. And fear Allah, through whom you ask one another, and the wombs. Indeed Allah is ever, over you, an Observer.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19203,
                                  "citation_id": 5,
                                  "number": 2,
                                  "text": "And give to the orphans their properties and do not substitute the defective [of your own] for the good [of theirs]. And do not consume their properties into your own. Indeed, that is ever a great sin.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19204,
                                  "citation_id": 5,
                                  "number": 3,
                                  "text": "And if you fear that you will not deal justly with the orphan girls, then marry those that please you of [other] women, two or three or four. But if you fear that you will not be just, then [marry only] one or those your right hand possesses. That is more suitable that you may not incline [to injustice].",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19205,
                                  "citation_id": 5,
                                  "number": 4,
                                  "text": "And give the women [upon marriage] their [bridal] gifts graciously. But if they give up willingly to you anything of it, then take it in satisfaction and ease.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19206,
                                  "citation_id": 5,
                                  "number": 5,
                                  "text": "And do not give the weak-minded your property, which Allah has made a means of sustenance for you, but provide for them with it and clothe them and speak to them words of appropriate kindness.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19207,
                                  "citation_id": 5,
                                  "number": 6,
                                  "text": "And test the orphans [in their abilities] until they reach marriageable age. Then if you perceive in them sound judgement, release their property to them. And do not consume it excessively and quickly, [anticipating] that they will grow up. And whoever, [when acting as guardian], is self-sufficient should refrain [from taking a fee]; and whoever is poor - let him take according to what is acceptable. Then when you release their property to them, bring witnesses upon them. And sufficient is Allah as Accountant.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19208,
                                  "citation_id": 5,
                                  "number": 7,
                                  "text": "For men is a share of what the parents and close relatives leave, and for women is a share of what the parents and close relatives leave, be it little or much - an obligatory share.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19209,
                                  "citation_id": 5,
                                  "number": 8,
                                  "text": "And when [other] relatives and orphans and the needy are present at the [time of] division, then provide for them [something] out of the estate and speak to them words of appropriate kindness.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19210,
                                  "citation_id": 5,
                                  "number": 9,
                                  "text": "And let those [executors and guardians] fear [injustice] as if they [themselves] had left weak offspring behind and feared for them. So let them fear Allah and speak words of appropriate justice.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19211,
                                  "citation_id": 5,
                                  "number": 10,
                                  "text": "Indeed, those who devour the property of orphans unjustly are only consuming into their bellies fire. And they will be burned in a Blaze.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19212,
                                  "citation_id": 5,
                                  "number": 11,
                                  "text": "Allah instructs you concerning your children: for the male, what is equal to the share of two females. But if there are [only] daughters, two or more, for them is two thirds of one's estate. And if there is only one, for her is half. And for one's parents, to each one of them is a sixth of his estate if he left children. But if he had no children and the parents [alone] inherit from him, then for his mother is one third. And if he had brothers [or sisters], for his mother is a sixth, after any bequest he [may have] made or debt. Your parents or your children - you know not which of them are nearest to you in benefit. [These shares are] an obligation [imposed] by Allah. Indeed, Allah is ever Knowing and Wise.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19213,
                                  "citation_id": 5,
                                  "number": 12,
                                  "text": "And for you is half of what your wives leave if they have no child. But if they have a child, for you is one fourth of what they leave, after any bequest they [may have] made or debt. And for the wives is one fourth if you leave no child. But if you leave a child, then for them is an eighth of what you leave, after any bequest you [may have] made or debt. And if a man or woman leaves neither ascendants nor descendants but has a brother or a sister, then for each one of them is a sixth. But if they are more than two, they share a third, after any bequest which was made or debt, as long as there is no detriment [caused]. [This is] an ordinance from Allah, and Allah is Knowing and Forbearing.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19214,
                                  "citation_id": 5,
                                  "number": 13,
                                  "text": "These are the limits [set by] Allah, and whoever obeys Allah and His Messenger will be admitted by Him to gardens [in Paradise] under which rivers flow, abiding eternally therein; and that is the great attainment.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19215,
                                  "citation_id": 5,
                                  "number": 14,
                                  "text": "And whoever disobeys Allah and His Messenger and transgresses His limits - He will put him into the Fire to abide eternally therein, and he will have a humiliating punishment.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19216,
                                  "citation_id": 5,
                                  "number": 15,
                                  "text": "Those who commit unlawful sexual intercourse of your women - bring against them four [witnesses] from among you. And if they testify, confine the guilty women to houses until death takes them or Allah ordains for them [another] way.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19217,
                                  "citation_id": 5,
                                  "number": 16,
                                  "text": "And the two who commit it among you, dishonor them both. But if they repent and correct themselves, leave them alone. Indeed, Allah is ever Accepting of repentance and Merciful.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19218,
                                  "citation_id": 5,
                                  "number": 17,
                                  "text": "The repentance accepted by Allah is only for those who do wrong in ignorance [or carelessness] and then repent soon after. It is those to whom Allah will turn in forgiveness, and Allah is ever Knowing and Wise.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19219,
                                  "citation_id": 5,
                                  "number": 18,
                                  "text": "But repentance is not [accepted] of those who [continue to] do evil deeds up until, when death comes to one of them, he says, \"Indeed, I have repented now,\" or of those who die while they are disbelievers. For them We have prepared a painful punishment.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19220,
                                  "citation_id": 5,
                                  "number": 19,
                                  "text": "O you who have believed, it is not lawful for you to inherit women by compulsion. And do not make difficulties for them in order to take [back] part of what you gave them unless they commit a clear immorality. And live with them in kindness. For if you dislike them - perhaps you dislike a thing and Allah makes therein much good.",
                                  "translation_id": 5
                                },
                                {
                                  "id": 19221,
                                  "citation_id": 5,
                                  "number": 20,
                                  "text": "But if you want to replace one wife with another and you have given one of them a great amount [in gifts], do not take [back] from it anything. Would you take it in injustice and manifest sin?",
                                  "translation_id": 5
                                }
                              ]
                            },
                            "language": "ENGLISH",
                            "detected_translation": 5,
                            "views": 101,
                            "group": null,
                            "group_link": null,
                            "comments": [
                              {
                                "id": 125,
                                "body": "",
                                "is_private": false,
                                "created_at": "2018-08-06T10:11:24.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 130,
                                  "username": "Oreflector_User",
                                  "name": "Ahmed Mohammed abdelmajed hussien",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/130/original/data?1533638551",
                                  "followed": false
                                }
                              },
                              {
                                "id": 123,
                                "body": "",
                                "is_private": false,
                                "created_at": "2018-08-06T09:40:26.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 130,
                                  "username": "Oreflector_User",
                                  "name": "Ahmed Mohammed abdelmajed hussien",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/130/original/data?1533638551",
                                  "followed": false
                                }
                              },
                              {
                                "id": 120,
                                "body": "efewrfd",
                                "is_private": false,
                                "created_at": "2018-08-05T15:29:04.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 130,
                                  "username": "Oreflector_User",
                                  "name": "Ahmed Mohammed abdelmajed hussien",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/130/original/data?1533638551",
                                  "followed": false
                                }
                              },
                              {
                                "id": 73,
                                "body": "great post thanks ",
                                "is_private": false,
                                "created_at": "2018-06-04T14:30:06.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 96,
                                  "username": "a7nd",
                                  "name": "mohamed alaa badr el den",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/096/original/data?1531314749",
                                  "followed": false
                                }
                              }
                            ],
                            "trimmed_citation_texts": {
                              "0": [
                                {
[...]
