{
    "openapi": "3.0.0",
    "info": {
        "title": "Quran.com Auth V1 API",
        "version": "1.0.0",
        "description": "Quran.com Auth V1 APIs allow your app to authenticate and interact with Quran Foundation's users' resources. \n\n See it in action https://share.descript.com/view/rBczFqlYZQz"
    },
    "servers": [
        {
            "url": "https://auth.quran.com",
            "description": "Production server"
        },
        {
            "url": "http://localhost:3001",
            "description": "Development Server"
        }
    ],
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "o_t_h"
            }
        }
    },
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/v1/collections/": {
            "post": {
                "description": "Create a new collection under user's account.",
                "tags": [
                    "Collections"
                ],
                "summary": "Add collection",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the new collection to be created.",
                                        "example": "Woman in Quran"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "additionalProperties": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Collections"
                ],
                "description": "List collections owned by the user. This api contains pagination. Read more about [pagination](/#pagination)",
                "summary": "Get all collections",
                "parameters": [
                    {
                        "in": "query",
                        "name": "sortBy",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "recentlyUpdated",
                                "alphabetical"
                            ],
                            "description": "Sort the collections list either by the time they were updated at descendingly or alphabetically.",
                            "example": "recentlyUpdated"
                        },
                        "description": "Sort the collections list either by the time they were updated at descendingly or alphabetically."
                    },
                    {
                        "in": "query",
                        "name": "last",
                        "schema": {
                            "type": "integer",
                            "description": "The number of items to be fetched. Should be used together with `before`",
                            "example": 10
                        },
                        "description": "The number of items to be fetched. Should be used together with `before`"
                    },
                    {
                        "in": "query",
                        "name": "first",
                        "schema": {
                            "type": "integer",
                            "oneOf": [
                                {
                                    "type": "integer"
                                }
                            ],
                            "description": "The number of items to be fetched.",
                            "example": 10
                        },
                        "description": "The number of items to be fetched."
                    },
                    {
                        "in": "query",
                        "name": "after",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "type": "string"
                                }
                            ],
                            "description": "The cursor after which you want to get the next page of items. Should be used together with `first`",
                            "example": "cld5iqnfr0001yi3hdj0a2n3x"
                        },
                        "description": "The cursor after which you want to get the next page of items. Should be used together with `first`"
                    },
                    {
                        "in": "query",
                        "name": "before",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "type": "string"
                                }
                            ],
                            "description": "The cursor before which the previous page of items will be fetched. Should be used together with `last`",
                            "example": "cld5iqnfr0002yi3h9wd40ew8"
                        },
                        "description": "The cursor before which the previous page of items will be fetched. Should be used together with `last`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/collections/{collectionId}/bookmarks": {
            "post": {
                "description": "Add a bookmark to an existing collection.",
                "tags": [
                    "Collections"
                ],
                "summary": "Add collection Bookmark",
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "schema": {
                            "type": "string",
                            "description": "The Id of the collection to be added.",
                            "example": "cld5iqnhv0003yi3hbxmlco02"
                        },
                        "required": true,
                        "description": "The Id of the collection to be added."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "anyOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "integer",
                                                "description": "The Surah number.",
                                                "example": 2
                                            },
                                            "mushaf": {
                                                "type": "integer",
                                                "enum": [
                                                    1,
                                                    2,
                                                    3,
                                                    4,
                                                    5,
                                                    6,
                                                    7,
                                                    11
                                                ],
                                                "description": "The id of the Mushaf being used. \n\n1 = QCFV2 \n\n  2 = QCFV1 \n\n  3 = Indopak \n\n  4 = UthmaniHafs \n\n  5 = KFGQPCHAFS \n\n  6 = Indopak15Lines \n\n  7 = Indopak16Lines \n\n  11 = Tajweeed",
                                                "example": 4
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "ayah"
                                                ],
                                                "description": "The bookmark type.",
                                                "default": "ayah"
                                            },
                                            "verseNumber": {
                                                "type": "integer",
                                                "example": 3
                                            }
                                        },
                                        "required": [
                                            "key",
                                            "mushaf",
                                            "verseNumber"
                                        ],
                                        "additionalProperties": false,
                                        "title": "Ayah"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "integer",
                                                "description": "Surah, Juz or page number."
                                            },
                                            "mushaf": {
                                                "type": "integer",
                                                "enum": [
                                                    1,
                                                    2,
                                                    3,
                                                    4,
                                                    5,
                                                    6,
                                                    7,
                                                    11
                                                ],
                                                "description": "The id of the Mushaf being used. \n\n1 = QCFV2 \n\n  2 = QCFV1 \n\n  3 = Indopak \n\n  4 = UthmaniHafs \n\n  5 = KFGQPCHAFS \n\n  6 = Indopak15Lines \n\n  7 = Indopak16Lines \n\n  11 = Tajweeed"
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "juz",
                                                    "page",
                                                    "surah"
                                                ],
                                                "description": "The bookmark type.",
                                                "example": "surah"
                                            }
                                        },
                                        "required": [
                                            "key",
                                            "mushaf"
                                        ],
                                        "additionalProperties": false,
                                        "title": "Surah, Juz, Or Page"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a bookmark from an existing collection by bookmark's details. When successfully deleted, the bookmark itself does not get deleted but rather only detached from the collection.",
                "tags": [
                    "Collections"
                ],
                "summary": "Delete collection bookmark by details",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "anyOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "integer",
                                                "description": "Surah number",
                                                "example": 2
                                            },
                                            "mushaf": {
                                                "type": "integer",
                                                "enum": [
                                                    1,
                                                    2,
                                                    3,
                                                    4,
                                                    5,
                                                    6,
                                                    7,
                                                    11
                                                ],
                                                "description": "The id of the Mushaf being used. \n\n1 = QCFV2 \n\n  2 = QCFV1 \n\n  3 = Indopak \n\n  4 = UthmaniHafs \n\n  5 = KFGQPCHAFS \n\n  6 = Indopak15Lines \n\n  7 = Indopak16Lines \n\n  11 = Tajweeed",
                                                "example": 4
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "ayah"
                                                ],
                                                "description": "The bookmark type.",
                                                "default": "ayah"
                                            },
                                            "verseNumber": {
                                                "type": "integer",
                                                "example": 3
                                            }
                                        },
                                        "required": [
                                            "key",
                                            "mushaf",
                                            "verseNumber"
                                        ],
                                        "additionalProperties": false,
                                        "title": "Ayah"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "integer",
                                                "description": "Surah, Juz or page number."
                                            },
                                            "mushaf": {
                                                "type": "integer",
                                                "enum": [
                                                    1,
                                                    2,
                                                    3,
                                                    4,
                                                    5,
                                                    6,
                                                    7,
                                                    11
                                                ],
                                                "description": "The id of the Mushaf being used. \n\n1 = QCFV2 \n\n  2 = QCFV1 \n\n  3 = Indopak \n\n  4 = UthmaniHafs \n\n  5 = KFGQPCHAFS \n\n  6 = Indopak15Lines \n\n  7 = Indopak16Lines \n\n  11 = Tajweeed"
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "juz",
                                                    "page",
                                                    "surah"
                                                ],
                                                "description": "The bookmark type.",
                                                "example": "surah"
                                            }
                                        },
                                        "required": [
                                            "key",
                                            "mushaf"
                                        ],
                                        "additionalProperties": false,
                                        "title": "Surah, Juz, Or Page"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/v1/collections/{collectionId}": {
            "delete": {
                "description": "Delete a an existing collection.",
                "tags": [
                    "Collections"
                ],
                "summary": "Delete collection",
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "schema": {
                            "type": "string",
                            "description": "The Id of the collection to be deleted.",
                            "example": "cld5iqni20004yi3hftv5d7vg"
                        },
                        "required": true,
                        "description": "The Id of the collection to be deleted."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "description": "Get all resources that belong to an existing collection by collection id.",
                "tags": [
                    "Collections"
                ],
                "summary": "Get collection items by id",
                "parameters": [
                    {
                        "in": "query",
                        "name": "sortBy",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "recentlyAdded",
                                "verseKey"
                            ],
                            "description": "Sort the collection items either by the time they were added at descendingly or by Ayah key."
                        },
                        "description": "Sort the collection items either by the time they were added at descendingly or by Ayah key."
                    },
                    {
                        "in": "query",
                        "name": "last",
                        "schema": {
                            "type": "integer",
                            "description": "The number of items to be fetched. Should be used together with `before`",
                            "example": 10
                        },
                        "description": "The number of items to be fetched. Should be used together with `before`"
                    },
                    {
                        "in": "query",
                        "name": "first",
                        "schema": {
                            "type": "integer",
                            "oneOf": [
                                {
                                    "type": "integer"
                                }
                            ],
                            "description": "The number of items to be fetched.",
                            "example": 10
                        },
                        "description": "The number of items to be fetched."
                    },
                    {
                        "in": "query",
                        "name": "after",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "type": "string"
                                }
                            ],
                            "description": "The cursor after which you want to get the next page of items. Should be used together with `first`",
                            "example": "cld5iqnfr0001yi3hdj0a2n3x"
                        },
                        "description": "The cursor after which you want to get the next page of items. Should be used together with `first`"
                    },
                    {
                        "in": "query",
                        "name": "before",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "type": "string"
                                }
                            ],
                            "description": "The cursor before which the previous page of items will be fetched. Should be used together with `last`",
                            "example": "cld5iqnfr0002yi3h9wd40ew8"
                        },
                        "description": "The cursor before which the previous page of items will be fetched. Should be used together with `last`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Update an existing collection.",
                "tags": [
                    "Collections"
                ],
                "summary": "Update collection",
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "schema": {
                            "type": "string",
                            "description": "The Id of the collection to be updated."
                        },
                        "required": true,
                        "description": "The Id of the collection to be updated."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The new name of the collection to be updated."
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "additionalProperties": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/collections/{collectionId}/bookmarks/{bookmarkId}": {
            "delete": {
                "description": "Delete a bookmark from an existing collection by bookmark's id. When successfully deleted, the bookmark itself does not get deleted but rather only detached from the collection.",
                "tags": [
                    "Collections"
                ],
                "summary": "Delete collection bookmark by id",
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "schema": {
                            "type": "string",
                            "description": "The Id of the collection to be deleted.",
                            "example": "cld5iqnio0005yi3hgm496ypq"
                        },
                        "required": true,
                        "description": "The Id of the collection to be deleted."
                    },
                    {
                        "in": "path",
                        "name": "bookmarkId",
                        "schema": {
                            "type": "string",
                            "description": "The Id of the bookmark to be deleted.",
                            "example": "cld5iqnio0006yi3hfyu13d4z"
                        },
                        "required": true,
                        "description": "The Id of the bookmark to be deleted."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/collections/all": {
            "get": {
                "description": "Get all existing collections along with resources that belong to them.",
                "tags": [
                    "Collections"
                ],
                "summary": "Get all collection items",
                "parameters": [
                    {
                        "in": "query",
                        "name": "sortBy",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "recentlyUpdated",
                                "alphabetical"
                            ],
                            "description": "Sort the collection items either by the time they were updated at descendingly or alphabetically."
                        },
                        "description": "Sort the collection items either by the time they were updated at descendingly or alphabetically."
                    },
                    {
                        "in": "query",
                        "name": "last",
                        "schema": {
                            "type": "integer",
                            "description": "The number of items to be fetched. Should be used together with `before`",
                            "example": 10
                        },
                        "description": "The number of items to be fetched. Should be used together with `before`"
                    },
                    {
                        "in": "query",
                        "name": "first",
                        "schema": {
                            "type": "integer",
                            "oneOf": [
                                {
                                    "type": "integer"
                                }
                            ],
                            "description": "The number of items to be fetched.",
                            "example": 10
                        },
                        "description": "The number of items to be fetched."
                    },
                    {
                        "in": "query",
                        "name": "after",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "type": "string"
                                }
                            ],
                            "description": "The cursor after which you want to get the next page of items. Should be used together with `first`",
                            "example": "cld5iqnfr0001yi3hdj0a2n3x"
                        },
                        "description": "The cursor after which you want to get the next page of items. Should be used together with `first`"
                    },
                    {
                        "in": "query",
                        "name": "before",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "type": "string"
                                }
                            ],
                            "description": "The cursor before which the previous page of items will be fetched. Should be used together with `last`",
                            "example": "cld5iqnfr0002yi3h9wd40ew8"
                        },
                        "description": "The cursor before which the previous page of items will be fetched. Should be used together with `last`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request has been handled successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden error. Can either be due to access token not being passed, having been expired or the caller trying to access a resource without enough permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ForbiddenError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Token expired"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found. The resource being accessed does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "NotFoundError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "The resource you're looking for does not exist"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error. The request include one or more invalid params. Please check the request params and try again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ValidationError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "`id` is required"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error. Something went wrong, try again later.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "ServerError"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Something went wrong"
                                                }
                                            }
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bookmarks/": {
            "post": {
                "description": "Add a bookmark by details.",
                "tags": [
                    "Bookmarks"
                ],
                "summary": "Add user bookmark",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "anyOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "integer",
                                                "description": "The Surah number.",
                                                "example": 2
                                            },
                                            "mushaf": {
                                                "type": "integer",
                                                "enum": [
                                                    1,
                                                    2,
                                                    3,
                                                    4,
                                                    5,
                                                    6,
                                                    7,
                                                    11
                                                ],
                                                "description": "The id of the Mushaf being used. \n\n1 = QCFV2 \n\n  2 = QCFV1 \n\n  3 = Indopak \n\n  4 = UthmaniHafs \n\n  5 = KFGQPCHAFS \n\n  6 = Indopak15Lines \n\n  7 = Indopak16Lines \n\n  11 = Tajweeed",
                                                "example": 4
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "ayah"
                                                ],
                                                "description": "The bookmark type.",
                                                "default": "ayah"
                                            },
                                            "verseNumber": {
                                                "type": "integer",
                                                "description": "The Ayah number to be added.",
                                                "example": 3
                                            }
                                        },
                                        "required": [
                                            "key",
[...]
